.m0 {
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.p0 {
  padding: 0;
}

.p10 {
  padding: 10px;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.box {
  box-sizing: border-box;
}

.align-center {
  align-items: center;
}

.width-100 {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.space-evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.end {
  align-self: flex-end;
}

.flex-1 {
  flex: 1;
}
