.doctor-tile {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--color-primary);
  border-radius: 5px;
  /* height: 240px; */
  cursor: pointer;
  box-sizing: border-box;
}

.doctor-tile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
  box-sizing: border-box;
}

.doctor-tile-name {
  margin: 0;
}

.doctor-tile-specializations {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.doctor-tile-hospital-name {
  margin: 0;
}

.doctor-tile-fees {
  margin: 0;
}

.doctor-tile-image {
  border-radius: 50%;
  height: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (max-width: 768px) {
  .doctor-tile {
    max-width: 100%;
    width: 100%;
  }

  .doctor-tile-image {
    height: 75px;
  }

  .doctor-tile-name {
    font-size: 14px;
  }

  .doctor-tile-hospital-name {
    font-size: 12px;
  }

  .doctor-tile-fees {
    font-size: 13px;
  }

  .doctor-tile-details {
    gap: 5px;
  }
}
