.reports {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.reports-top-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.disease-tab {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.selected-disease-tab {
  background-color: var(--color-highlight);
}

.reports-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.report-values-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.report-values-row {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.icon-red * {
  color: var(--color-red);
}

.field:focus {
  outline: none;
}

.report-button {
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  font-size: medium;
}

.save-report-button {
  background-color: var(--color-green);
}

.delete-report-button {
  background-color: var(--color-red);
}

.print-report-button {
  background-color: var(--color-blue);
}

.add-report-file-label {
  width: 100%;
  height: 200px;
  border: 2px dashed var(--color-border);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-report-file-label:hover {
  background-color: var(--color-highlight);
}

.report-files {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px;
}

.file-tile {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;
  background-color: var(--color-highlight);
  border-radius: 5px;
  align-items: center;
}

.file-tile:hover {
  background-color: var(--color-hover);
}

@media (max-width: 768px) {
  .disease-tab {
    padding: 10px;
    min-width: 100px;
  }

  .reports-content {
    z-index: 0;
  }

  .disease-tab * {
    font-size: 14px;
  }

  .reports-top-div {
    flex-wrap: wrap;
  }

  .report-files {
    grid-template-columns: repeat(1, 1fr);
  }

  .file-tile * {
    font-size: 13px;
  }

  .reports-content {
    height: fit-content;
  }

  .field {
    font-size: 14px;
    padding: 10px;
  }

  .report-button {
    font-size: 13px;
    padding: 10px;
  }

  button {
    font-size: 13px;
    padding: 10px;
  }
}
