.patient-home-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.patient-home-label {
  font-weight: normal;
}

.patient-home-name {
  font-weight: bold;
  font-size: 30px;
}

.patient-home-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.patient-home-page-flow {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  min-width: 100%;
}

@media (max-width: 768px) {
  .patient-home-top {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
  }

  .patient-home-label {
    margin: 0;
  }

  .patient-home-page-flow {
    flex-direction: column;
  }
}
